<div class="news">
  <table class="table table-sm table-borderless">
    {% assign teaching_entries = site.teaching | sort: 'semester' | reverse %}
    {% for entry in teaching_entries %}
      <tr>
        <th scope="row">{{ entry.semester }}</th>
        <td>
          <strong>{{ entry.course_code }} {{ entry.course_name }}</strong>
          <ul>
            <li>{{ entry.description }}</li>
          </ul>
        </td>
      </tr>
    {% endfor %}
  </table>
</div>
