<div class="teaching">
  {% assign teaching_entries = site.teaching | sort: 'semester' | reverse %}
  <ul class="cv-list">
    {% for entry in teaching_entries %}
      <li>
        <strong>{{ entry.semester }} {{ entry.course_code }}</strong> - {{ entry.course_name }}
        <br>
        {{ entry.description }}
      </li>
    {% endfor %}
  </ul>
</div>
