<div class="teaching">
  <table class="table">
    {% assign teaching_entries = site.teaching | sort: 'semester' | reverse %}
    {% for entry in teaching_entries %}
      <tr>
        <td>{{ entry.semester }} {{ entry.course_code }}</td>
        <td>
          <strong>{{ entry.course_name }}</strong>
          <ul>
            <li>{{ entry.description }}</li>
          </ul>
        </td>
      </tr>
    {% endfor %}
  </table>
</div>
